.Navbar {
  width: 100%;
  padding: .0rem 0;
  background-color: #F4F4F7;
}

.Navbar__brand {
  color: #440f88;

  display: flex;
  align-items: center;
}

.Navbar__brand:hover {
  color: #1b5a8d;
  text-decoration: none;
}

.Navbar__brand-logo {
  margin-right: 0.1%;
}